<!-- app/views/static_pages/author.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>About the Author</title>
</head>
<body>
  <h1>About the Lev Brezgin</h1>
  <p>This page contains information about the author of this project.</p>
  <ol>
    <li>18 years old</li>
    <li>Live in Latvia, Liepaya</li>
    <li>Study in 12th grade</li>
    <li>Works as a cook</li>
    <li>Plans to study as a software engineer</li>
</ol>
  <p>You can find the author's GitHub profile <a href="https://github.com/lbrezgin">here</a>.</p>
</body>
</html>
