/* line 1, app/assets/stylesheets/flash.scss */
.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

/* line 7, app/assets/stylesheets/flash.scss */
.flash.notice {
  border-color: #3c85e0;
}

/* line 11, app/assets/stylesheets/flash.scss */
.flash.alert {
  border-color: #ef2727;
}
