/* line 1, app/assets/stylesheets/nav.scss */
.nav.user {
  text-align: right;
}

/* line 5, app/assets/stylesheets/nav.scss */
.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

/* line 14, app/assets/stylesheets/nav.scss */
.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

/* line 19, app/assets/stylesheets/nav.scss */
.nav-admin.user {
  float: right;
}

/* line 23, app/assets/stylesheets/nav.scss */
.nav-admin.user-email {
  text-decoration: underline;
}

/* line 27, app/assets/stylesheets/nav.scss */
.nav.nav-admin
a {
  color: #ffffff;
}

/* line 32, app/assets/stylesheets/nav.scss */
.margin-left {
  margin-left: 30px;
}

/* line 36, app/assets/stylesheets/nav.scss */
.margin-right {
  margin-right: 20px;
}
