<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <%= link_to 'Admin Panel', admin_tests_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    Hello, <strong><%= current_user.first_name %></strong> Guru!

    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light' %>
  </span>
</nav>
