<h1>The <%=@test_passage.test.title %> Test was Completed!</h1>
<p>
  Your score is
  <% result = score(@test_passage) %>
  <% if result >= 85 %>
    <green><%= result %>%</green><br>
    <green>The test was successfully passed!</green>
  <% else %>
    <red><%= result %>%</red><br>
    <red>Unfortunately the test failed...</red>
  <% end %>
</p>
<%= link_to 'Back', tests_path %>
