<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>New feedback</h2>
    <p><strong>Name:</strong> <%= @feedback.name %></p>
    <p><strong>Email:</strong> <%= @feedback.email %></p>
    <p><strong>Message:</strong></p>
    <p><%= @feedback.message %></p>
</body>
</html>