<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Новый отзыв</h2>
<p><strong>Имя:</strong> <%= @feedback.name %></p>
<p><strong>Email:</strong> <%= @feedback.email %></p>
<p><strong>Сообщение:</strong></p>
<p><%= @feedback.message %></p>
</body>
</html>
