<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Jauna atsauksme</h2>
<p><strong>Vards:</strong> <%= @feedback.name %></p>
<p><strong>E-pasts:</strong> <%= @feedback.email %></p>
<p><strong>Ziņa:</strong></p>
<p><%= @feedback.message %></p>
</body>
</html>
