<p>Sveiki <%= @resource.email %>!</p>

<p>Kāds pieprasīja saiti, lai mainītu jūsu paroli. To var izdarīt, izmantojot zemāk esošo saiti.</p>

<p><%= link_to 'Mainīt manu paroli', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ja jūs to nepieprasījāt, ignorējiet šo e-pastu.</p>
<p>Jūsu parole nemainīsies, kamēr neesat noklikšķinājis uz iepriekš minētās saites un izveidojis jaunu.</p>
