<footer>
  <p><%= current_year %></p>
  <p>Author: Lev Brezgin</p>
  <a href="<%= github_url('lbrezgin', 'test-guru')%>" target="_blank">Test Guru - take tests and create your own!</a> |
  <a href="https://thinknetica.com/" target="_blank">Educational project in an online school Thinknetica</a>
</footer>
