<footer><br>
  <span>&copy; <%= current_year %> Test Guru</span> |
  <span>Author: Lev Brezgin</span> |
  <span>
    Test Guru - take tests and create your own!
    Github: <%= github_url('lbrezgin', 'https://github.com/lbrezgin/test-guru') %>
  </span> |
  <span>
    Educational project in an online school
    <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
  </span>
</footer>
