<footer>
  <p><%= current_year %></p>
  <p>Author: Lev Brezgin</p>
  <p>Test Guru - take tests and create your own! Github: <%= github_url('lbrezgin', 'https://github.com/lbrezgin/test-guru') %></p>
  <a href="https://thinknetica.com/" target="_blank">Educational project in an online school Thinknetica</a>
</footer>
